body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.book {
    width: 90%; /* Changed width for responsiveness */
    max-width: 800px; /* Added max-width for larger screens */
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.page {
    padding: 20px; /* Reduced padding for smaller screens */
    border-bottom: 2px solid #ddd;
}

h1 {
    color: #333;
    font-size: 24px; /* Reduced font size for smaller screens */
    margin-bottom: 15px; /* Reduced margin for smaller screens */
}

p {
    color: #666;
    font-size: 14px; /* Reduced font size for smaller screens */
    line-height: 1.6;
    margin-bottom: 15px; /* Reduced margin for smaller screens */
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%; /* Ensures the image doesn't overflow its container */
    height: auto; /* Ensures the image maintains its aspect ratio */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
